#
# Importante: Deben estar declaradas las variables OJSPATH y JOURNAL
# dentro del servidor Apache y debe existir un archivo llamado new404.html
# en la carpeta raíz de OJS
#

Options FollowSymLinks
 
 <IfModule mod_rewrite.c>
  
    RewriteEngine on	
    RewriteRule ^download/(?).pdf$  download$1 [NC,L]

    #INDEX
    RewriteRule ^\$\$\$call\$\$\$/page/page/(.+)$ index.php/index/$$$call$$$/page/page/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(${OJSPATH})(.*)$ index.php/index/$1$2 [L]

    RewriteRule ^\$\$\$call\$\$\$/(tab|grid)(.+) index.php/index/$$$call$$$/$1$2 [L]

    #REVISTAS PUBLICAS 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(${JOURNAL})(.*)$ index.php/$1$2 [L]
	
    #ERROR 404
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule !^(${JOURNAL}|${OJSPATH})(.*)$ /new404.html [L]

 </IfModule>
